<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <vlc-location>C:\Program Files\VideoLAN\VLC\vlc.exe</vlc-location>
  <video-extensions>
    <extension>.mkv</extension>
    <extension>.avi</extension>
    <extension>.mp4</extension>
  </video-extensions>
  <subtitle-extensions>
    <extension>.srt</extension>
    <extension>.sub</extension>
  </subtitle-extensions>
</settings>